@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #48d0b0;
    --secondary: #181818;
  }

  @import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;500;600;700&display=swap");

  body {
    font-family: "Source Sans Pro", sans-serif;
  }
}
